.dottedHrLine {
  border-top: dotted 1px;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.normalHrLine {
  border-top: solid 1px;
  margin: 0.5rem 0px 0.7rem 0px;
}

.solidHrLine {
  border-top: solid 3px;
  margin: 0rem 0px 0.7rem 0px;
}
.inputNormal:focus {
  outline: 1px normal;
  border-radius: 4px;
}
.inputError:focus {
  border: 1px solid red !important;
  outline: 1px solid red;
  border-radius: 4px;
}

.textAlignLeft {
  text-align: left;
}

.cursor {
  cursor: pointer;
}

/* .drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 20vh;
  padding: 1rem;
  border: 2px dashed #202122;
}
.upload-icon {
  width: 50px;
  height: 50px;
  background: url(./upload.png) no-repeat center center;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
} */

.drop-message {
  text-align: center;
  color: #4aa1f3;
}

.file-remove {
  cursor: pointer;
  color: red;
  padding: 0px;
}
